framework: auto-detect
// Do not extract into the "packages" folder but use a globally shared directory
storage: none
source https://nuget.org/api/v2
nuget FSharp.Core
nuget Chessie

clitool Microsoft.DotNet.Watcher.Tools

group Test
    source https://nuget.org/api/v2
    nuget Expecto
    nuget FsCheck

group Build
    source https://nuget.org/api/v2
    nuget FAKE
    nuget FSharpLint.Fake
